<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<ul>
  <% article.comments.forEach(comment =>{ %>
    <li><strong><%= comment.name %> </strong>| <%= comment.content %></li>
  <% }) %>
</ul>

<hr />

<a href="/">&larr; Back Home</a>
