<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<ul>
  <% article.comments.forEach(comment =>{ %>
    <li><strong><%= comment.name %> </strong>| <%= comment.content %></li>
  <% }) %>
</ul>

<form method="POST" action="/articles/comment">
  Name: <input type="text" name="name">
  Comment: <input type="text" name="content">
  <input type="hidden" name="articleId" value=<%= article.id %> >
  <input type="Submit">
</form>

<hr />

<a href="/">&larr; Back Home</a>
